
<!-- single view product body -->
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
        <a class="btn btn-sm btn-primary mb-3" href="/"> Back To Home </a>
          <div class="card">
            <div class="card-body">
                <img class="w-50" style="border-radius: 20px; height: 300px; width: 200px; object-fit: cover;" src="/products/<%= product.photo %>" alt="">
                <h2> <%= product.name %> </h2>
                <p> Regular Price :  <%= product.regularprice %></p>
                <p> Sale Price :  <%= product.saleprice %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
































